name: Robot Framework CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
  
    - name: Setup Chrome and ChromeDriver
      uses: browser-actions/setup-chrome@latest
      with:
        chrome-version: stable
        install-chromedriver: true

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install robotframework robotframework-seleniumlibrary
        pip install robotframework-pabot

    - name: Run Robot Framework tests
      run: pabot --processes 6 --outputdir results .

    - name: Upload test reports as artifact
      uses: actions/upload-artifact@v4
      if: success() || failure()
      with:
        name: Robot-Framework-Reports
        path: results/
